# Terraform files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Ignore any file ending in ".tfplan"
*.tfplan

# Ignore any file with a tilde as a backup
*~

# Ignore .DS_Store made by Mac OS
.DS_Store

# Ignore install files
install/
